<div class="animate__animated animate__fadeInLeft animate__faster">
  <app-header [title]="'Array'"
              [isLoading]="isLoadingStatus"
              [data]="data"
              (execCleanData)="cleanData()"
              (execGetData)="getData()"></app-header>

  <div class="animate__animated animate__fadeIn animate__faster my-3" *ngIf="!isLoading && data.length > 0">

    <!-- RAW DATA -->
    <div class="my-5">
      <app-array-raw-data [data]="data"></app-array-raw-data>
    </div>

    <!-- SORTED NUMBERS -->
    <div class="my-5">
      <app-array-sorted-numbers [data]="data"></app-array-sorted-numbers>
    </div>

    <!-- PROCESSED DATA -->
    <div class="my-5">
      <app-array-processed-data [data]="data"></app-array-processed-data>
    </div>
  </div>

  <!-- ALERTS -->
  <app-alert></app-alert>
</div>
