<h3>Raw data</h3>
<hr>
<input class="form-control" type="text" [value]="data" readonly>
<div class="table-fix-head">
  <table class="table mt-3">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Position</th>
        <th scope="col" *ngFor="let number of data; let i= index;">{{ i + 1}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Number</td>
        <td *ngFor="let number of data; let i= index;"> {{ number }}</td>
      </tr>
    </tbody>
  </table>
</div>
