<div class="alert {{ this.alert.type }} text-center mt-3 animate__animated animate__fadeIn animate__faster p-2">
  <h3 class="alert-heading">{{ this.alert.title }}</h3>
  <p>
    <i class="fa {{ this.alert.icon }} fa-2x mt-3"></i>
  </p>
  <p class="mb-0">
    {{ this.alert.description }}
  </p>
</div>
