<h2>{{ title }}</h2>
<hr>
<div class="mt-3 p-3">
  <button type="button"
          class="btn btn-outline-primary mr-3"
          [disabled]="isLoading"
          (click)="getData()">
    <i class="fas fa-arrow-alt-circle-down"></i>
    {{ dataLength  ? 'Get New Data' : 'Get Data' }}
  </button>

  <button type="button"
          class="btn btn-outline-danger"
          (click)="cleanData()"
          [disabled]="data.length === 0">
      <i class="fas fa-trash-alt"></i>
      Delete Data
  </button>
</div>
