<div class="animate__animated animate__fadeInRight animate__faster">
  <app-header [title]="'Dictionary'"
              [isLoading]="isLoadingStatus"
              [data]="data"
              (execCleanData)="cleanData()"
              (execGetData)="getData()"></app-header>

  <div class="animate__animated animate__fadeIn animate__faster my-3" *ngIf="!isLoading && data.length > 0">
    <!-- RAW DATA -->
    <div class="my-5">
      <app-dictionary-raw-data [data]="data"></app-dictionary-raw-data>
    </div>

    <!-- PROCESSED DATA -->
    <div class="my-5">
      <app-dictionary-processed-data [data]="data"></app-dictionary-processed-data>
    </div>
  </div>

  <!-- ALERTS -->
  <app-alert></app-alert>
</div>
