<h3>Table</h3>
<hr>
<div class="table-wrap table-fix-head">
  <table class="table table-hover mt-3" >
    <thead class="tableFixHead thead-dark">
      <tr>
        <th scope="col">N°</th>
        <th scope="col" *ngFor="let letter of alphabet">{{ letter }}</th>
        <th scope="col">Sum</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of processedData; let i= index;">
        <th scope="row">{{ i + 1 }}</th>
        <th *ngFor="let freq of data.frequency">{{ freq }}</th>
        <th>{{ data.sum }}</th>
      </tr>
    </tbody>
  </table>
</div>
