<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <p class="navbar-brand">MiningTag <small>Test</small></p>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="array">Array</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="dict">Dictionary</a>
    </li>
  </ul>
</nav>
<div class="container-fluid mt-5 px-5">
  <router-outlet></router-outlet>
</div>
