<h3>Table</h3>
<hr>
<div class="table-wrap table-fix-head">
  <table class="table table-hover mt-3">
    <thead class="thead-dark">
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Number</th>
        <th scope="col">Quantity</th>
        <th scope="col">First position</th>
        <th scope="col">Last position</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let number of processedData; let i= index;"
          [ngClass]="{'table-success':  number.quantity >= 2, 'table-warning': number.quantity === 1, 'table-secondary': number.quantity < 1}">

        <th scope="row">{{ i + 1 }}</th>
        <td>{{ number.number }}</td>
        <td>{{ number.quantity }}</td>
        <td>{{ number.firstPosition }}</td>
        <td>{{ number.lastPosition }}</td>
      </tr>
    </tbody>
  </table>
</div>
