<div [ngSwitch]="type">
  <div *ngSwitchCase="'LOADING'">
    <app-alerts [type]="'LOADING'"></app-alerts>
  </div>
  <div *ngSwitchCase="'EMPTY'">
    <app-alerts [type]="'EMPTY'"></app-alerts>
  </div>
  <div *ngSwitchCase="'ERROR'">
    <app-alerts [type]="'ERROR'"></app-alerts>
  </div>
  <ng-container *ngSwitchDefault></ng-container>
</div>

