.table-wrap {
  height: 500px;
  overflow-y: auto;
}

.table-fix-head {
  overflow-y: auto;
}

.table-fix-head thead th {
  position: sticky;
  top: 0;
}

th:first-child, td:first-child {
  position: sticky;
  left: 0px;
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;
}
