<h3>Raw Data
  <button type="button"
          class="btn btn-outline-secondary btn-sm ml-2"
          (click)="viewRawData = !viewRawData">
    <i class="far {{ !viewRawData ? 'fa-eye' : 'fa-eye-slash' }}"></i>
    {{ !viewRawData ? 'Show' : 'Hide' }}
  </button>
</h3>
<hr>
<ol *ngIf="viewRawData">
  <li *ngFor="let paragraph of data; let i= index;"> {{ paragraph }}</li>
</ol>
